<%- include ("partials/header") %>

<div class="home jumbotron">

    <div class="title container">
    <h1 class="display-4">OOPSIE!!</h1>
    <p class="lead">Sorry! We don't have Information About this Movie.</p>

    <form action="/back" method="post" style="text-align: center; padding: 2rem;">
        <button type="submit" class="btn btn-dark">Search Another Movie</button>
    </form>
    
</div>
  </div>

  

<%- include ("partials/footer") %>